.weather-card-wrapper {
  height: 100%;
  padding: 1rem;
  box-sizing: border-box;
}

.gradient-custom {
  /* fallback for old browsers */
  background: #1e3c72;
  height: 15vh;
  width: 100%;

  /* Chrome 10-25, Safari 5.1-6 */
  background: -webkit-linear-gradient(
    to right,
    rgba(30, 60, 114, 1),
    rgba(90, 120, 127, 1)
  );

  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  background: linear-gradient(
    to right,
    rgba(30, 60, 114, 1),
    rgba(90, 120, 127, 1)
  );
}


.weather-section {
  width: 100%;
  height: 50vh;
  padding: 0;
  box-sizing: border-box;
}
.temp-text {
  font-size: 2rem; /* Adjust the font size as needed */
  color: white;
}

.custom-height {
  height: 50vh; /* Adjust this value to your desired height */
}

.carousel-indicators li {
  background-color: #282828;
  width: 7px;
  height: 7px;
  border-radius: 50%;
}
