.name-input-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

label {
  font-size: 1.5rem;
  margin-bottom: 1rem;
}

input {
  font-size: 1rem;
  padding: 0.5rem;
  margin-bottom: 1rem;
}

button {
  font-size: 1rem;
  padding: 0.5rem 1rem;
  cursor: pointer;
}
