.sidebar-content {
  background-color: #f5f5f5;
  padding: 2rem;
  width: 400px;
}

.sidebar-menu {
  margin: 0;
  padding: 0;
  list-style: none;
  width: 400px;
}

.sidebar-menu li {
  margin-bottom: 1rem;
}

.sidebar-menu li a {
  color: #585858;
  font-family: "Inter", sans-serif;
  font-size: 1.2rem;
  text-decoration: none;
  transition: color 0.3s ease;
}

.sidebar-menu li a:hover {
  color: #222222;
}
